In [1]:
import pandas as pd
import numpy as np

In [2]:
#explorando datos y limpiando

data = pd.read_csv('strains-kushy_api.2017-11-14.csv')
data.head()

,id,status,sort,name,slug,image,description,type,crosses,breeder,...,cbn,cbg,cbgm,cbgv,cbc,cbcv,cbv,cbe,cbt,cbl
0,1,1,0,100 OG,NaN,NaN,<p>This strain is named after it's high price ...,Hybrid,NaN,Old School Breeder's Association,...,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1,0,707 Headband,NaN,NaN,NaN,Hybrid,"378,272",Unknown Breeder,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,0,A-10,NaN,NaN,NaN,Indica,0,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,0,Acapulco Gold,NaN,NaN,NaN,Sativa,0,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,0,Afghani Bullrider,NaN,NaN,NaN,Hybrid,0,Unknown Breeder,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.columns

Index(['id', 'status', 'sort', 'name', 'slug', 'image', 'description', 'type',
       'crosses', 'breeder', 'effects', 'ailment', 'flavor', 'location',
       'terpenes', 'thc', 'thca', 'thcv', 'cbd', 'cbda', 'cbdv', 'cbn', 'cbg',
       'cbgm', 'cbgv', 'cbc', 'cbcv', 'cbv', 'cbe', 'cbt', 'cbl'],
      dtype='object')

In [4]:
data.description.unique()

array(["<p>This strain is named after it's high price in it's Hollywood home. As a 50/50 hybrid of indica and sativa, $100 OG does a great job offering pain relief with an alert, cerebral high.</p>",
       nan], dtype=object)

In [5]:
[print(data.cbgv.unique(),
      data.cbn.unique(),
      data.cbg.unique(),
      data.cbgm.unique(),
      data.cbc.unique(),
      data.cbcv.unique(),
      data.cbv.unique(),
      data.cbe.unique(),
      data.cbt.unique(),
      data.cbl.unique())]

[ 0. nan] [    10      0     20 100000      3      4     30  10000      7  80000
     13     14     17     11     40     78      5     48     88      6
     53 180000  60000  50000  90000 110000 130000 140000 190000  70000
 120000 150000] [ 0. nan] [ 0. nan] [ 0. nan] [ 0. nan] [ 0. nan] [ 0. nan] [ 0. nan] [ 0. nan]

[None]

In [6]:
data = data.drop(['image','crosses','breeder','terpenes','slug','location','status','sort','description',  'thca', 'thcv', 'cbda', 'cbdv', 'cbn', 'cbg', 'cbgm', 'cbgv', 'cbc', 'cbcv', 'cbv', 'cbe', 'cbt', 'cbl'], axis = 1)

In [7]:
data.dropna(subset=['ailment'], inplace=True)

In [8]:
data.dropna(subset=['flavor'], inplace=True)

In [9]:
data['EFA'] = data['effects'] + ', ' + data['flavor']+ ', ' + data['ailment']

In [10]:
data = data.drop(['effects','flavor','ailment'], axis = 1)

In [15]:
data.reset_index(inplace=True)
data

,index,id,name,type,thc,cbd,EFA
0,0,1,100 OG,Hybrid,127.0,16.0,"Focused, Citrus, Depression"
1,1,3,A-10,Indica,NaN,NaN,"Relaxed, Happy, Uplifted, Energetic, Sleepy, D..."
2,2,4,Acapulco Gold,Sativa,NaN,NaN,"Happy, Euphoric, Uplifted, Relaxed, Creative, ..."
3,3,5,Afghani Bullrider,Hybrid,127.0,NaN,"Uplifted, Relaxed, Happy, Euphoric, Dry Mouth,..."
4,4,6,Afghan Big Bud,Indica,NaN,NaN,"Euphoric, Happy, Talkative, Relaxed, Sleepy, D..."
...,...,...,...,...,...,...,...
937,937,2174,X-Wing,Indica,NaN,NaN,"Happy, Sleepy, Relaxed, Creative, Hungry, Dry ..."
938,938,2175,XXX 420,Indica,NaN,NaN,"Relaxed, Talkative, Happy, Uplifted, Energetic..."
939,939,2176,XXX OG,Indica,NaN,NaN,"Sleepy, Relaxed, Happy, Euphoric, Uplifted, Dr..."
940,940,2177,Zkittlez,Indica,NaN,NaN,"Relaxed, Happy, Euphoric, Uplifted, Creative, ..."
941,941,2178,Zoom Pie,Indica,NaN,NaN,"Hungry, Uplifted, Relaxed, Happy, Berry, Earth..."

In [12]:
data.replace(0,np.nan, inplace=True)

In [16]:
data = data.drop(['index'], axis = 1)

In [17]:
data

,id,name,type,thc,cbd,EFA
0,1,100 OG,Hybrid,127.0,16.0,"Focused, Citrus, Depression"
1,3,A-10,Indica,NaN,NaN,"Relaxed, Happy, Uplifted, Energetic, Sleepy, D..."
2,4,Acapulco Gold,Sativa,NaN,NaN,"Happy, Euphoric, Uplifted, Relaxed, Creative, ..."
3,5,Afghani Bullrider,Hybrid,127.0,NaN,"Uplifted, Relaxed, Happy, Euphoric, Dry Mouth,..."
4,6,Afghan Big Bud,Indica,NaN,NaN,"Euphoric, Happy, Talkative, Relaxed, Sleepy, D..."
...,...,...,...,...,...,...
937,2174,X-Wing,Indica,NaN,NaN,"Happy, Sleepy, Relaxed, Creative, Hungry, Dry ..."
938,2175,XXX 420,Indica,NaN,NaN,"Relaxed, Talkative, Happy, Uplifted, Energetic..."
939,2176,XXX OG,Indica,NaN,NaN,"Sleepy, Relaxed, Happy, Euphoric, Uplifted, Dr..."
940,2177,Zkittlez,Indica,NaN,NaN,"Relaxed, Happy, Euphoric, Uplifted, Creative, ..."
941,2178,Zoom Pie,Indica,NaN,NaN,"Hungry, Uplifted, Relaxed, Happy, Berry, Earth..."

In [18]:
test = data[['type', 'thc']]

In [19]:
test

       type    thc
0    Hybrid  127.0
1    Indica    NaN
2    Sativa    NaN
3    Hybrid  127.0
4    Indica    NaN
..      ...    ...
937  Indica    NaN
938  Indica    NaN
939  Indica    NaN
940  Indica    NaN
941  Indica    NaN

[942 rows x 2 columns]

In [ ]:

boxplot = test.boxplot(column=['thc'])

In [22]:
test["thc"] = test.groupby("type").transform(lambda x: x.fillna(x.mean()))

/home/sromero/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
test

       type         thc
0    Hybrid  127.000000
1    Indica  858.444444
2    Sativa  924.312500
3    Hybrid  127.000000
4    Indica  858.444444
..      ...         ...
937  Indica  858.444444
938  Indica  858.444444
939  Indica  858.444444
940  Indica  858.444444
941  Indica  858.444444

[942 rows x 2 columns]

In [24]:
test1 = data[['type', 'cbd']]

In [25]:
test1

       type   cbd
0    Hybrid  16.0
1    Indica   NaN
2    Sativa   NaN
3    Hybrid   NaN
4    Indica   NaN
..      ...   ...
937  Indica   NaN
938  Indica   NaN
939  Indica   NaN
940  Indica   NaN
941  Indica   NaN

[942 rows x 2 columns]

In [26]:
test1["cbd"] = test1.groupby("type").transform(lambda x: x.fillna(x.median()))

/home/sromero/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
test1

       type   cbd
0    Hybrid  16.0
1    Indica  13.0
2    Sativa  30.0
3    Hybrid  16.0
4    Indica  13.0
..      ...   ...
937  Indica  13.0
938  Indica  13.0
939  Indica  13.0
940  Indica  13.0
941  Indica  13.0

[942 rows x 2 columns]

In [28]:
data['thc_input'] = test["thc"]

In [29]:
data['cbd_input'] = test1["cbd"]

In [31]:
data = data.drop(['thc', 'cbd'], axis = 1)

In [46]:
data = data.drop(['id'], axis = 1)

In [47]:
data

,name,type,EFA,thc_input,cbd_input
0,100 OG,Hybrid,"Focused, Citrus, Depression",127.000000,16.0
1,A-10,Indica,"Relaxed, Happy, Uplifted, Energetic, Sleepy, D...",858.444444,13.0
2,Acapulco Gold,Sativa,"Happy, Euphoric, Uplifted, Relaxed, Creative, ...",924.312500,30.0
3,Afghani Bullrider,Hybrid,"Uplifted, Relaxed, Happy, Euphoric, Dry Mouth,...",127.000000,16.0
4,Afghan Big Bud,Indica,"Euphoric, Happy, Talkative, Relaxed, Sleepy, D...",858.444444,13.0
...,...,...,...,...,...
937,X-Wing,Indica,"Happy, Sleepy, Relaxed, Creative, Hungry, Dry ...",858.444444,13.0
938,XXX 420,Indica,"Relaxed, Talkative, Happy, Uplifted, Energetic...",858.444444,13.0
939,XXX OG,Indica,"Sleepy, Relaxed, Happy, Euphoric, Uplifted, Dr...",858.444444,13.0
940,Zkittlez,Indica,"Relaxed, Happy, Euphoric, Uplifted, Creative, ...",858.444444,13.0
941,Zoom Pie,Indica,"Hungry, Uplifted, Relaxed, Happy, Berry, Earth...",858.444444,13.0

In [48]:
data.type.value_counts()

Hybrid    508
Indica    277
Sativa    157
Name: type, dtype: int64

In [49]:
def one_hot(ata, column, drop_first = True ):
    dummy = pd.get_dummies(data, columns= column, drop_first = drop_first)
    
    return dummy

In [50]:
df_dummy = one_hot(data, column =['type', 'name'])

In [51]:
df_dummy

,EFA,thc_input,cbd_input,type_Indica,type_Sativa,name_1024,name_303 OG,name_3D CBD,name_3X Crazy,name_5th Element,...,name_XXX OG,name_Xanadu,name_Y Griega,name_Yoda OG,name_Yumboldt,name_Zellyâ€™s Gift,name_Zeta Sage,name_Zkittlez,name_Zombie OG,name_Zoom Pie
0,"Focused, Citrus, Depression",127.000000,16.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Relaxed, Happy, Uplifted, Energetic, Sleepy, D...",858.444444,13.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Happy, Euphoric, Uplifted, Relaxed, Creative, ...",924.312500,30.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Uplifted, Relaxed, Happy, Euphoric, Dry Mouth,...",127.000000,16.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Euphoric, Happy, Talkative, Relaxed, Sleepy, D...",858.444444,13.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937,"Happy, Sleepy, Relaxed, Creative, Hungry, Dry ...",858.444444,13.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
938,"Relaxed, Talkative, Happy, Uplifted, Energetic...",858.444444,13.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
939,"Sleepy, Relaxed, Happy, Euphoric, Uplifted, Dr...",858.444444,13.0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
940,"Relaxed, Happy, Euphoric, Uplifted, Creative, ...",858.444444,13.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
941,"Hungry, Uplifted, Relaxed, Happy, Berry, Earth...",858.444444,13.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [52]:
data.isnull().sum()

name         0
type         0
EFA          0
thc_input    0
cbd_input    0
dtype: int64

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942 entries, 0 to 941
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       942 non-null    object
 1   type       942 non-null    object
 2   EFA        942 non-null    object
 3   thc_input  942 non-null    float64
 4   cbd_input  942 non-null    float64
dtypes: float64(2), object(3)
memory usage: 36.9+ KB

In [54]:
data.to_csv('data_weed.csv')

In [55]:
df_dummy.to_csv('data_weed_dummy.csv')